html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a:hover {
	text-decoration: none;
}

button:focus,
a:focus {
	outline: none;
}

#pageContainer {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

#mastHeadContainer {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 7px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  z-index: 1;
  display: flex;
  align-items: center;
}

#mastHeadContainer button:not(.searchButton),
#mastHeadContainer .rightIcons img {
	cursor: pointer;
	width: 40px;
	height: 40px;
	padding: 8px;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	outline: none;
}

#mastHeadContainer .rightIcons {
	height: 100%;
}

#mastHeadContainer button img {
	width: 100%;
}

#mastHeadContainer .logoContainer {
	width: 150px;
}

#mastHeadContainer .logoContainer img {
	height: 25px;
	margin-left: 8px;
}

#mastHeadContainer .searchBarContainer {
	margin: 0 40px;
	flex: 1;
	display: flex;
}

#mastHeadContainer .searchBarContainer form {
	flex: 1;
	display: flex;
}

#mastHeadContainer .searchBarContainer .searchBar {
	flex: 1;
	max-width: 600px;
	color: #111;
	padding: 2px 6px;
	font-size: 14px;
	font-weight: 100;
	border: 1px solid #ccc;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-right: none;
	height: 32px;
	box-shadow: #eee 0px 1px 2px 0px inset;
}

#mastHeadContainer .searchBarContainer .searchButton {
	height: 32px;
	background-color: #f8f8f8;
	border: 1px solid #d3d3d3;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	cursor: pointer;
	width: 65px;
	outline: none;
}

#mastHeadContainer .searchBarContainer .searchButton img {
	height: 20px;
	width: 20px;
}

#sideNavContainer {
	width: 240px;
	background-color: #f5f5f5;
	padding-top: 56px;
	position: fixed;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
}

#mainSectionContainer {
	padding-top: 56px;
	display: flex;
}

#mainSectionContainer.leftPadding {
	padding-left: 240px;
}

#mainContentContainer {
	padding: 10px 30px;
	display: flex;
	flex: 1;
	background-color: #fafafa;
	box-sizing: border-box;
}

.column {
	flex-grow: 1;
	background-color: #fff;
	min-height: 300px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

.signInContainer {
	background-color: #efefee;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signInContainer .column .header img {
	width: 100px;
}

.signInContainer .column {
	flex-grow: 0;
	width: 450px;
	padding: 20px 35px;
	max-height: 100%;
	overflow-y: auto;
}

.signInContainer .column .header {
	padding: 20px 0;
}

.signInContainer .column .header h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	margin: 0;
	padding-bottom: 0;
	padding-top: 16px;
}

.signInContainer .column .header span {
	font-size: 14px;
}

.signInContainer .column form {
	display: flex;
	flex-direction: column;
}

.signInContainer .column form input[type="text"],
.signInContainer .column form input[type="email"],
.signInContainer .column form input[type="password"] {
	font-size: 14px;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid #dedede;
}

.signInContainer .column form input[type="submit"] {
	background: #4285f4;
	color: #fff;
	height: 36px;
	width: 88px;
	/* border: none; */
	border-radius: 3px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 20px;
}

.signInMessage {
	font-size: 14px;
	font-weight: 400;
	color: #212529;
}

.errorMessage {
	color: #f00;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.watchLeftColumn {
	flex: 1;
}

.watchLeftColumn .videoPlayer {
	width: 100%;
}

.videoPlayer {
	outline: none;
}

.suggestions {
	max-width: 425px;
	flex-grow: 1;
	height: 100%;
	padding-left: 24px;
}

.videoInfo {
	width: 100%;
	padding: 20px 0 8px 0;
}

.videoInfo h1 {
	display: block;
	overflow: hidden;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.videoInfo .bottomSection {
	display: flex;
}

.videoInfo .bottomSection .viewCount {
	color: rgba(17, 17, 17, 0.6);
	font-size: 16px;
	flex: 1;
}

.videoInfo .bottomSection .controls {
	flex: 1;
	text-align: right;
}

.videoInfo .bottomSection .controls button {
	padding: 0;
	background-color: transparent;
	border: none;
	color: rgba(17, 17, 17, 0.4);
	font-weight: 500;
	font-size: 13px;
	cursor: pointer;
}

.videoInfo .bottomSection .controls button img {
	height: 20px;
	width: 20px;
	margin: 4px 8px 8px 8px;
}

.secondaryInfo .topRow {
	display: flex;
	margin-bottom: 12px;
}

.profilePicture {
	height: 100%;
}

.secondaryInfo .topRow .profilePicture {
	margin-right: 16px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.secondaryInfo .topRow .uploadInfo {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.secondaryInfo .topRow .uploadInfo .date {
	color: rgba(17, 17, 17, 0.6);
	font-size: 13px;
	font-weight: 400;
}

.secondaryInfo .descriptionContainer {
	margin-left: 64px;
	max-width: 615px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.secondaryInfo {
	border-bottom: 1px solid #dedede;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.secondaryInfo .topRow .button {
	padding: 6px 15px;
	cursor: pointer;
	font-weight: 500;
	border-radius: 2px;
	border: none;
	font-size: 14px;
}

.secondaryInfo .topRow .subscribeButtonContainer,
.secondaryInfo .topRow .editVideoButtonContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.subscribeButtonContainer .subscribe {
	background-color: #f00;
	color: #fff;
}

.subscribeButtonContainer .unsubscribe {
	background-color: #eee;
	color: rgba(17, 17, 17, 0.6);
}

.editVideoButtonContainer .edit {
	background-color: #2692e6;
	color: #fff;
}

.secondaryInfo .topRow .uploadInfo .owner a {
	font-size: 14px;
	font-weight: 500;
	color: #000;
}

.commentSection .header {
	margin-top: 24px;
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
}

.commentSection .header .commentForm .profilePicture,
.commentSection .comment .profilePicture,
.commentForm .profilePicture {
	margin-right: 16px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.commentSection .header .commentCount {
	margin-bottom: 24px;
}

.commentSection .header .commentForm,
.itemContainer .commentForm {
	display: flex;
}

.commentSection .header .commentForm textarea,
.itemContainer .commentForm textarea {
	flex: 1;
	border: none;
	background-color: transparent;
	font-size: 14px;
	color: #111;
	resize: none;
}

.itemContainer .commentForm textarea {
	height: 30px;
}

.commentSection .header .commentForm .postComment,
.itemContainer .commentForm .postComment,
.itemContainer .commentForm .cancelComment {
	height: 36px;
	background-color: #2692e6;
	color: #fff;
	font-weight: 500;
	border: none;
	padding: 0 15px;
	border-radius: 2px;
}

.itemContainer .commentForm .cancelComment {
	background-color: transparent;
	color: rgba(17, 17, 17, 0.6);
}

.itemContainer .commentForm .cancelComment:hover {
	color: #000;
}

.commentSection .itemContainer {
	margin-bottom: 16px;
}

.commentSection .comment {
	display: flex;
}

.commentSection .CommentHeader {
	margin-bottom: 2px;
}

.commentSection .comment .username {
	margin-right: 8px;
	color: #111;
	font-size: 13px;
	font-weight: 500;
}

.commentSection .comment .body {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.itemContainer .controls {
	margin-left: 64px;
}

.itemContainer .controls button,
.itemContainer .controls .likesCount {
	height: 32px;
	background-color: transparent;
	border: none;
	font-size: 13px;
	font-weight: 500;
	color: rgba(17, 17, 17, 0.6);
}

.itemContainer .controls button {
	cursor: pointer;
}

.itemContainer .controls .likesCount {
	margin: 0 5px;
}

.itemContainer .controls button img {
	height: 16px;
}

.itemContainer .commentForm .profilePicture {
	width: 30px;
	height: 30px;
}

.commentSection .comment .timestamp {
	color: #888;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.hidden {
	display: none !important;
}

.comments .repliesSection {
	padding-left: 64px;
	margin-top: 16px;
}

.commentSection .itemContainer .viewReplies {
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
}

.videoGrid {
	display: flex;
	flex-wrap: wrap;
}

.suggestions .videoGridItem {
	display: flex;
	height: auto;
}

.videoGridItem {
	margin-right: 4px;
	margin-bottom: 24px;
}

.videoGridItem .thumbnail {
	width: 210px;
	height: 118px;
	position: relative;
}

.suggestions .videoGridItem .thumbnail {
	margin-right: 8px;
}

.videoGridItem .thumbnail img {
	width: 100%;
	height: 100%;
}

.videoGridItem .thumbnail .duration {
	bottom: 0;
	right: 0;
	position: absolute;
	margin: 4px;
	color: #fff;
	background-color: rgba(17, 17, 17, 0.8);
	opacity: 0.8;
	padding: 2px 4px;
	border-radius: 2px;
	letter-spacing: 0.5px;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
}

.videoGridItem .details {
	padding-right: 24px;
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	width: 210px;
}

.suggestions .videoGridItem .details {
	padding-right: 0;
	flex: 1;
}

.videoGridItem .details .title {
	margin: 8px 0;
	max-height: 32px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #212529;
}

.videoGridItem .details .username,
.videoGridItem .details .stats {
	color: rgba(17, 17, 17, 0.6);
	font-size: 13px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}