html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a:hover {
	text-decoration: none;
}

#pageContainer {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

#mastHeadContainer {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 7px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  z-index: 1;
  display: flex;
  align-items: center;
}

#mastHeadContainer button:not(.searchButton),
#mastHeadContainer .rightIcons img {
	cursor: pointer;
	width: 40px;
	height: 40px;
	padding: 8px;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	outline: none;
}

#mastHeadContainer .rightIcons {
	height: 100%;
}

#mastHeadContainer button img {
	width: 100%;
}

#mastHeadContainer .logoContainer {
	width: 150px;
}

#mastHeadContainer .logoContainer img {
	height: 25px;
	margin-left: 8px;
}

#mastHeadContainer .searchBarContainer {
	margin: 0 40px;
	flex: 1;
	display: flex;
}

#mastHeadContainer .searchBarContainer form {
	flex: 1;
	display: flex;
}

#mastHeadContainer .searchBarContainer .searchBar {
	flex: 1;
	max-width: 600px;
	color: #111;
	padding: 2px 6px;
	font-size: 14px;
	font-weight: 100;
	border: 1px solid #ccc;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-right: none;
	height: 32px;
	box-shadow: #eee 0px 1px 2px 0px inset;
}

#mastHeadContainer .searchBarContainer .searchButton {
	height: 32px;
	background-color: #f8f8f8;
	border: 1px solid #d3d3d3;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	cursor: pointer;
	width: 65px;
	outline: none;
}

#mastHeadContainer .searchBarContainer .searchButton img {
	height: 20px;
	width: 20px;
}

#sideNavContainer {
	width: 240px;
	background-color: #f5f5f5;
	padding-top: 56px;
	position: fixed;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
}

#mainSectionContainer {
	padding-top: 56px;
	display: flex;
}

#mainSectionContainer.leftPadding {
	padding-left: 240px;
}

#mainContentContainer {
	padding: 10px 30px;
	display: flex;
	flex: 1;
}

.column {
	flex-grow: 1;
	background-color: #fff;
	min-height: 300px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

.signInContainer {
	background-color: #efefee;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signInContainer .column .header img {
	width: 100px;
}

.signInContainer .column {
	flex-grow: 0;
	width: 450px;
	padding: 20px 35px;
	max-height: 100%;
	overflow-y: auto;
}

.signInContainer .column .header {
	padding: 20px 0;
}

.signInContainer .column .header h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	margin: 0;
	padding-bottom: 0;
	padding-top: 16px;
}

.signInContainer .column .header span {
	font-size: 14px;
}

.signInContainer .column form {
	display: flex;
	flex-direction: column;
}

.signInContainer .column form input[type="text"],
.signInContainer .column form input[type="email"],
.signInContainer .column form input[type="password"] {
	font-size: 14px;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid #dedede;
}

.signInContainer .column form input[type="submit"] {
	background: #4285f4;
	color: #fff;
	height: 36px;
	width: 88px;
	/* border: none; */
	border-radius: 3px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 20px;
}

.signInMessage {
	font-size: 14px;
	font-weight: 400;
	color: #212529;
}

.errorMessage {
	color: #f00;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.watchLeftColumn {
	flex: 1;
}

.watchLeftColumn .videoPlayer {
	width: 100%;
}

.suggestions {
	max-width: 425px;
	flex-grow: 1;
	height: 100%;
	padding-left: 24px;
}

.videoInfo {
	width: 100%;
	padding: 20px 0 8px 0;
}

.videoInfo h1 {
	display: block;
	overflow: hidden;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.videoInfo .bottomSection {
	display: flex;
}

.videoInfo .bottomSection .viewCount {
	color: rgba(17, 17, 17, 0.6);
	font-size: 16px;
	flex: 1;
}

.videoInfo .bottomSection .controls {
	flex: 1;
	text-align: right;
}

.videoInfo .bottomSection .controls button {
	padding: 0;
	background-color: transparent;
	border: none;
	color: rgba(17, 17, 17, 0.4);
	font-weight: 500;
	font-size: 13px;
	cursor: pointer;
}

.videoInfo .bottomSection .controls button img {
	height: 20px;
	width: 20px;
	margin: 4px 8px 8px 8px;
}

.secondaryInfo .topRow {
	display: flex;
	margin-bottom: 12px;
}

.profilePicture {
	height: 100%;
}

.secondaryInfo .topRow .profilePicture {
	margin-right: 16px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.secondaryInfo .topRow .uploadInfo {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.secondaryInfo .topRow .uploadInfo .date {
	color: rgba(17, 17, 17, 0.6);
	font-size: 13px;
	font-weight: 400;
}

.secondaryInfo .descriptionContainer {
	margin-left: 64px;
	max-width: 615px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.secondaryInfo {
	border-bottom: 1px solid #dedede;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.secondaryInfo .topRow .button {
	padding: 6px 15px;
	cursor: pointer;
	font-weight: 500;
	border-radius: 2px;
	border: none;
	font-size: 14px;
}

.secondaryInfo .topRow .subscribeButtonContainer,
.secondaryInfo .topRow .editVideoButtonContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.subscribeButtonContainer .subscribe {
	background-color: #f00;
	color: #fff;
}

.subscribeButtonContainer .unsubscribe {
	background-color: #eee;
	color: rgba(17, 17, 17, 0.6);
}

.editVideoButtonContainer .edit {
	background-color: #2692e6;
	color: #fff;
}

.secondaryInfo .topRow .uploadInfo .owner a {
	font-size: 14px;
	font-weight: 500;
	color: #000;
}

.commentSection .header {
	margin-top: 24px;
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
}

.commentSection .header .commentForm .profilePicture {
	margin-right: 16px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.commentSection .header .commentCount {
	margin-bottom: 24px;
}

.commentSection .header .commentForm {
	display: flex;
}

.commentSection .header .commentForm textarea {
	flex: 1;
	border: none;
	background-color: transparent;
	font-size: 14px;
	color: #111;
	resize: none;
}

.commentSection .header .commentForm .postComment {
	height: 36px;
	background-color: #2692e6;
	color: #fff;
	font-weight: 500;
	border: none;
	padding: 0 15px;
	border-radius: 2px;
}